<footer>
    <div class="footer-left">
        <a>&copy;Copyright</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="footer-right">
        <a href="#"><img src="../../assets/Images/Iconset/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="../../assets/Images/Iconset/twitter.png"  alt="Twitter"></a>
        <a href="#"><img src="../../assets/Images/Iconset/google-plus.png" alt="google-plus"></a>				
    </div>
</footer>
