<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Virtual MeetApp</title>
		<link rel="stylesheet" href="../assets/CSS/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/CSS/style.css">
	</head>
	<body>
		<%- include('partials/header.ejs') %>
		<%- include('partials/navigation.ejs') %>
		<div class="main">
			<h1>About</h1>
			<h4>This platform offers</h4>
			<ul>
				<li>Group Fantasy leagues.</li>
				<li>Online Mutliplayer gaming clan recruitment, team communications and clan wars.</li>
				<li>To Host Online Events.</li>
			</ul>
			<h4>Check out the connections page for on going Leagues, Clan Wars and Events!!!!!</h4> 
		</div>
		<%- include('partials/footer.ejs') %>
	</body>

</html>